* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body, h1, h2, p, span {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

.header__logo,
.menu,
.menu__icon,
.cart {
  display: inline-block;
  vertical-align: middle;
}

.container {
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 90%;
  }
}

.justify-menu {
  text-align: justify;
  line-height: 0;
}

.justify-menu::after {
  content: " ";
  display: inline-block;
  width: 100%;
}

.header {
  padding: 10px;
}

.menu {
  transition: .2s;
}

.menu__icon {
  font-size: 2rem;
}

.menu__items {
  display: none;
  opacity: 0;
}

.menu__items--visible {
  transition: .3s;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  line-height: 33px;
  background: black;
  padding: 0;
}

.menu__items li {
  text-align: center;
  list-style: none;
}

.menu__items li a {
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (min-width: 550px) {
  .menu__icon {
    display: none;
  }

  .menu__items {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .menu__items li {
    display: inline-block;
    line-height: initial;
    vertical-align: middle;
    margin: 0 12px;
  }

  .menu__items li a {
    color: black;
  }

  .justify-menu {
    text-align: initial;
  }

  .menu {
    line-height: 0;
    text-align: justify;
    width: 85%;
  }

  .menu::after {
    content: " ";
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .menu {
    margin-left: 10px;
  }
}

@media screen and (min-width: 720px) {
  .menu {
    margin-left: 27px;
  }
}

@media screen and (min-width: 820px) {
  .menu {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .menu {
    width: 87%;
  }
}

.cart {
  margin-left: 20px;
}

.cart img {
  max-width: 40px;
  height: auto;
}
