* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body, h1, h2, p, span {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

.header__logo,
.menu,
.menu__icon,
.cart {
  display: inline-block;
  vertical-align: middle;
}

.container {
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    width: 1300px;
  }
}

.justify-menu,
.justify {
  text-align: justify;
  line-height: 0;
}

.justify::after,
.justify-menu::after {
  content: " ";
  display: inline-block;
  width: 100%;
}

.header {
  background: white;
  box-shadow: 0px 0px 11px black;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu {
  transition: .2s;
}

.menu__icon {
  font-size: 2rem;
}

.menu__items {
  display: none;
}

@media screen and (max-width: 550px) {
  .menu__items--visible {
    background: black;
    display: block;
    left: 0;
    line-height: 33px;
    padding: 0;
    position: absolute;
    transition: .3s;
    width: 100%;
    z-index: 1;
  }
}


.menu__items li {
  text-align: center;
  list-style: none;
}

.menu__items li a {
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (min-width: 550px) {
  .menu__icon {
    display: none;
  }

  .menu__items {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .menu__items li {
    display: inline-block;
    line-height: initial;
    vertical-align: middle;
    margin: 0 12px;
  }

  .menu__items li a {
    color: black;
  }

  .justify-menu {
    text-align: initial;
  }

  .menu {
    line-height: 0;
    text-align: justify;
    width: 85%;
  }

  .menu::after {
    content: " ";
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .menu {
    margin-left: 10px;
  }
}

@media screen and (min-width: 720px) {
  .menu {
    margin-left: 27px;
  }
}

@media screen and (min-width: 820px) {
  .menu {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .menu {
    width: 87%;
  }
}

.cart {
  margin-left: 20px;
}

.cart img {
  max-width: 40px;
  height: auto;
}

.banner {
  overflow: hidden;
  padding-top: 63px;
}

.banner img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 160vw;
}

@media screen and (min-width: 950px) {
  .banner img {
    width: auto;
  }
}

.button {
  background: #313131;
  border: 0;
  border-radius: 4px;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 15px 25px;
  text-transform: uppercase;
}

.button--filter {
  display: block;
  margin: 17px auto;
}

.filter-options {
  background: white;
  box-shadow: 1px 1px 5px black;
  color: black;
  font-size: 1rem;
  left: 0;
  padding: 0 17px 17px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
  display: none;
}

.filter-options__title {
  padding: 15px 0 27px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
}

.filter-options__label {
  display: block;
  margin-bottom: 16px;
  text-align: left;
  text-transform: uppercase;
  font-size: .9em;
}

.filter-options__label input[type="checkbox"] {
  float: right;
  width: 26px;
  height: 26px;
}

.filter-options__close {
  display: block;
  position: absolute;
  font-size: 1.7rem;
  margin: 0;
  right: 12px;
  top: 9px;
}

.filter-options--visible {
  display: block;
}

@media screen and (min-width: 930px) {
  .button--filter {
    display: none;
  }

  .filter-options {
    background: none;
    box-shadow: none;
    border-bottom: 1px solid #cccccc;
    display: block;
    margin-top: 20px;
    padding: 0;
    position: relative;
    text-align: justify;
    z-index: 0;
  }

  .filter-options__all-products,
  .filter-options__wrapper {
    display: inline-block;
    vertical-align: bottom;
  }

  .filter-options::after {
    content: " ";
    display: inline-block;
    width: 100%;
  }

  .filter-options__label,
  .filter-options__title {
    display: inline-block;
    padding-bottom: 0;
    text-transform: initial;
  }

  .filter-options__label input[type="checkbox"] {
    float: left;
    position: relative;
    bottom: 4px;
    margin: 0 5px 0 15px;
  }

}
